body{
    background-color: #03A37F;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
    font-family: 'Londrina Solid', cursive;
}
.gameTitle{
    width: 40%;
    height: auto;
}

.plus{
    align-content: center;
    justify-content: center;
}

button{
    position: relative;
    background-color: rgba(255, 255, 255,0);
    border: 0px;
}

div{
    font-size: 6vh;
    color: white;
    font-weight: 600;
}
.start,
.selection,
.instructionPage,
.game,
.final{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    place-items: center;
    background-color: #03A37F;
    gap: 2vh;
    width: 100%;
    height: 100%;
}
.popUp{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    place-items: center;
    background-color: rgb(25, 78, 32,0.8);
    z-index: 25;

}
.selection,.instructionPage{
    height: 100%;
    justify-content: flex-start;
    background-image: url("./img/selectionTiles.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.instructionPage{
    z-index: 20;
}

.instructionDetails{
    background-color: white;
    border-radius: 20px;
    height: 185px;
    padding: 10px;
    margin-bottom: 10px;
}

.instructionDetails p{
    color: #184A1E;
    font-size: 30px;
    text-align: center;
}

.textDetail{
    width: 300px;
    height: 45px;
    text-align: center;
    padding-top: 2.5vh;
}
.background{
    background-color: white;
    border: 10px solid #FBCE59;
    border-radius: 15px;
    font-weight: 300;
    text-align: center;
    padding: 20px;
    font-size: 32px;
    color: #433836;
}
.mark{
    width: 15%;
    margin-bottom: -30px;
    height: auto;
    z-index: 25;
}
.correctAnswer{
    padding: 10px;
    width: 50%;
    padding-bottom: 20px;
}
.next{
    margin-top: -40px;
    height: auto;
}
.next img{
    width: 60%;
    height: auto;
}
.words{
    font-weight: 500;
    font-size: 60px;
    padding-bottom: 5px;
}
.slectiontitle{
    position: relative;
    margin: 0%;
    padding: 0%;
    margin-top: 30px;
    width: 50%;
}
.finaltitle{
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 35vh; 
}
.text{
    position: relative;
    width: 45%;
    padding-top: 2.5vh;
}
.btn{
    width: 40vh;
}
.startGame:active,.playGame:active,.playAgain:active,.next:active,.plusGame:active,.minusGame:active,.mixedGame:active,.home:active{
    animation: animate 0.2s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-20deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(20deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}

.questionNumber{
    background-color: white;
    border-radius: 10px;
    width: 100px;
    padding: 2px;
    color: #194E20;
    margin: auto; 
    z-index: 15;
    position: relative;
}
.chosen{
    background-color: #184A1E;
    border-radius: 10px;
    padding: 10px 25px;
}
.top{
    text-align: center;
}
.big{
    color: white;
    font-size: 30px;
    text-align: center;
    height: 70px;
}
.right{
    position: absolute;
    right: 1vh;
    top: 1vh;
}
.icon{
    width: 7vh;
}
.title{
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 55vh;
}
.hide{
    display: none;
    visibility: hidden;
}
img{
    width: 12vh;
}
.instruction{
    color: white;
    font-size: 5vh;
    font-weight: 500;
}
p{
    margin: 0px;
}
.correct,
.wrong{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small{
    width: 10vh;
}
.group{
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid #00DEAF;
}
.scoreText{
    background-color: #FBCE59;
    border-radius: 10px;
    padding: 5px;
    width: 255px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -50px;
    text-align: center;
    color: #194E20;
    z-index: 20;
}
.words1{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #01A27E;
}
.words2{
    color: #223E3F;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}
.medal{
    width: 80%;
    margin: 0 auto;
    height: auto;
}
#operation{
    background-color: #FBCE59;
    border-radius: 10px;
    padding: 15px;
    padding-top: 40px;
    margin-top: -25px;
}

.options{
    display: grid;
    gap: 3.5vh;
    grid-template-columns: repeat(2, 18vh);
    grid-template-rows: repeat(2, 18vh);
    width: 40vh;
    height:40vh;
    justify-items: center;
    align-items: center;
}
.btn1,.btn2,.btn3,.btn4{
    position: relative;
}
.btn1 img, .btn2 img, .btn3 img, .btn4 img{
    position: relative;
    z-index: 10;
}
.overlay{
    position: absolute !important;
    top: -9px;
    right:-7px;
    box-sizing: content-box;
    display: flex;
    z-index: 0 !important;
    width: 120%;
}

/*ipad*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .overlay{
        right:-12px;
    }
    .textDetail {
        width: 400px;
        font-size: 80px;
        height: 100px;
    }
    .instructionDetails{
        height: 500px;
    }
    .instructionDetails p {
        color: #184A1E;
        font-size: 80px;
        text-align: center;
    }
    .questionNumber {
        width: 200px;
    }
    .big{
        font-size: 60px;
        height: 150px;
    }
    img{
        width: 17vh;
    }
    .options {
        gap: 4vh;
        grid-template-columns: repeat(2, 20vh);
        grid-template-rows: repeat(2, 20vh);
        width: 44vh;
        height: 44vh
    }
    .background {
        background-color: white;
        border: 20px solid #FBCE59;
        border-radius: 15px;
        font-weight: 300;
        text-align: center;
        padding: 80px;
        font-size: 32px;
        color: #433836;
    }
    .background p{
        font-size: 60px;
    }
    .words {
        font-size: 130px !important;
    }
    .correctAnswer {
        padding: 30px;
        width: 65%;
    }
    .next {
        margin-top: -80px;
        height: auto;
    }
    .mark {
        width: 15%;
        margin-bottom: -60px;
        height: auto;
        z-index: 25;
    }
    .group {
        width: 500px;
        height: 300px;
    }
    .words1 {
        font-size: 60px;
    }
    .words2 {
        font-size: 100px;
    }
    .scoreText {
        width: 300px;
        margin-bottom: -70px;
    }
    .buttons{
        display: flex;
        gap: 70px;
        justify-content: center;
    }
    .buttons img{
        width: 25%;
    }
}
/*desktop*/
@media screen and (min-width:1200px){
    body{
        display: flex;
      width: 100%;
    }
    .start, .selection, .game,.final,.popUp, .instructionPage{
        max-width: 400px;
        justify-content: center;
    }

}

@media screen and (max-width:767px){
    .endTitle {
      display: none;
    }
  }