body{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-image: url("./Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.plus{
    align-content: center;
    justify-content: center;
}
button{
    height: 25vh;
    border: 0px ;
    background-color: rgb(0, 0, 0,0);
}
div{
    font-size: 7vh;
    color: white;
    font-weight: 600;
}
.start{
    margin: 0;
    padding: 3vh;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.startGame{
    width: 25vh;
    height: 10vh;
    bottom: 5vh;
    color:#019321;
    background-color: white;
    border-radius: 1em;
    font-weight: 600;
    font-size: 35px;
    border: 4px solid black;
}
.hide{
    display: none;
}
img{
    width: 12vh;
}
.selection{
    margin: 0;
    padding: 3vh;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.plusGame{
    width: 25vh;
    height: 10vh;
    bottom: 5vh;
    color:#019321;
    background-color: white;
    border-radius: 1.2em;
    font-weight: 600;
    font-size: 35px;
    border: 4px solid black;
}
.minusGame{
    width: 25vh;
    height: 10vh;
    bottom: 5vh;
    color:#019321;
    background-color: white;
    border-radius: 1.2em;
    font-weight: 600;
    font-size: 35px;
    border: 4px solid black;
}
.mixedGame{
    width: 25vh;
    height: 10vh;
    bottom: 5vh;
    color:#019321;
    background-color: white;
    border-radius: 1.2em;
    font-weight: 600;
    font-size: 35px;
    border: 4px solid black;
}
.instruction{
    color: white;
    font-size: 5vh;
    font-weight: 500;
}
p{
    margin: 0px;
    height: 3vh;
}